html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }

body {
    font-family: 'Inter', 'Krona One', sans-serif;
}

.header {
    background-color: #140D2D;
    width: 1440px;
    height: 900px;
}

.header-menu {
    display: flex;
}

.header-nav-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF;
    padding-top: 23px;
    padding-left: 120px;
    font-family: 'Krona One';
}

.header-nav {
  padding-top: 26px;
  padding-left: 600px;
  font-family: 'Inter';
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}

.header-nav-link {
  text-decoration: none;
  color: #FFFFFF;
  padding-right: 50px;
}

.header-nav-login {
  background-color: #FFFFFF;
  color: black;
  padding: 5px 30px;
  text-decoration: none;
  border-radius: 6px;
}

.header-wrapper {
  display: flex;
}

.header-text-title {
  font-family: 'Krona One';
  font-size: 60px;
  line-height: 75px;
  font-weight: 400;
  color: #FFFFFF;
  padding-top: 221px;
  padding-left: 120px;
}

.header-text-discription {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  padding-left: 120px;
  padding-top: 32px;
  padding-bottom: 47px;
  color: #FFFFFF;
}

.header-text-link {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin-left: 120px;
  background-color: #E0FF00;
  border-radius: 6px;
  padding: 18px 47px;
  text-decoration: none;
}

.header-img {
  display: block;
  margin-left: -310px;
  margin-top: 10px;
}

.section1-title {
  font-family: 'Krona One';
  font-weight: 400;
  font-size: 55px;
  line-height: 70px;
  padding-top: 200px;
  padding-left: 140px;
  color: #000000;
  letter-spacing: -0.03em;
text-transform: capitalize;
}

.section1-video {
  padding-left: 202px;
  padding-top: 80px;
  border-radius: 5px;
}

.feature {
  display: flex;
  padding-left: 121px;
  padding-top: 70px;
  padding-bottom: 50px;
}

.feature-create {
  background-color: #000000;
  border-radius: 5px;
  width: 386px;
  height: 318px;
  padding: 35px;
}

.feature-create-title {
  font-family: 'Krona One';
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 13px;
}

.feature-create-description {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.feature-track {
  background-color: #F2F0F0;
  border-radius: 5px;
  width: 386px;
  height: 318px;
  margin: 0 20px;
  padding: 35px;
}

.feature-track-title {
  font-family: 'Krona One';
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 13px;
}

.feature-track-description {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.feature-deliver {
  background-color: #F2F0F0;
  border-radius: 5px;
  width: 386px;
  height: 318px;
  padding: 35px;
}

.feature-deliver-title {
  font-family: 'Krona One';
  font-weight: 400;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 13px;
}

.feature-deliver-description {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.button-section1-link {
  display: flex;
  justify-content: center;
  padding-bottom: 130px;
}

.section1-link {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #E0FF00;
  border-radius: 6px;
  width: 226px;
  height: 61px;
}

.section2 {
  display: flex;
  justify-content: center;
  padding-bottom: 155px;
}

.section2-img {
  width: 577px;
  height: 628px;
  padding-right: 33px;
}

.section2-content {
  width: 590px;
}

.grow-title {
  font-family: 'Krona One';
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #000000;
  padding-top: 70px;
}

.grow-description {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  padding-top: 21px;
  padding-bottom: 40px;
}

.manage, .scale {
  display: flex;
  width: 545px;
}

.manage {
  padding-bottom: 30px;
}

.manage-img, .scale-img {
  height: 70px;
  padding-right: 25px;
}

.manage-title, .scale-title {
  font-family: 'Krona One';
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
  color: #000000;
}

.manage-description, .scale-description {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.section3 {
  background-color: #140D2D;
}

.section3-content {
  font-family: 'Krona One';
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  color: #FFFFFF;
  padding-left: 200px;
  padding-top: 64px;
  padding-right: 200px;
}

.section3-avtor {
  display: flex;
  padding-top: 32px;
  padding-bottom: 90px;
  padding-left: 200px;
}

.section3-img {
  height: 93px;
  padding-right: 18px;
}

.section3-name {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
  color: #FFFFFF;
}

.section3-title {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #8F85B3;
}

.section4-form {
  display: flex;
  justify-content: center;
  padding-top: 130px;
  padding-bottom: 140px;
}

.section4-content {
  width: 480px;
  margin-right: 105px;
}

.section4-title {
  font-family: 'Krona One';
  font-weight: 400;
  font-size: 45px;
  line-height: 60px;
  color: #000000;
}

.section4-description {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  padding-top: 23px;
  padding-bottom: 27px;
}

input::placeholder {
  font-size: 20px;
}

input {
  width: 500px;
  height: 55px;
  margin-bottom: 20px;
  background: #F2F0F0;
  border-radius: 3px;
  border: none;
  padding-left: 15px;
}

.buttun {
  width: 162px;
  background: #E0FF00;
  border-radius: 6px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.faq {
  padding-bottom: 135px;
}

.faq-title {
  display: flex;
  justify-content: center;
  font-family: 'Krona One';
  font-weight: 500;
  font-size: 50px;
  line-height: 75px;
  color: #000000;
  padding-bottom: 56px;
}

.drop-down-list {
  padding-left: 320px;
}

.select {
  background-color: #F2F0F0;
  width: 800px;
  border-radius: 3px;
}

select {
  width: 800px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  color: #000000;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  padding-left: 20px;
  border: none;
  appearance: none;
  overflow: hidden;
  background: url('images/polygon.png') no-repeat right;
}

select option {
  background-color: #F2F0F0;
}

footer {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.mail {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  padding-right: 800px;
}

.copyright {
  color: #FFFFFF;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}